{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/enrichments/enrichment-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card" style="border-color: {{ enrichment.color }}">
  <div class="card-bg" style="background-color: {{ enrichment.color }}"></div>
  <div class="card-content">
    <h2>{{ enrichment.name }}</h2>
    <p>A {{ enrichment.color }} enrichment</p>
  </div>
</div>
<a href="{% url 'enrichments_update' enrichment.id %}" class="btn warn">Edit</a>
<a href="{% url 'enrichments_delete' enrichment.id %}" class="btn danger">Delete</a>

{% endblock %}