{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/fish/fish-detail.css' %}"
/>

<script defer src="{% static 'js/fish-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="fish-container">
  <div class="fish-img">
    <img 
      src="{% static 'images/fish (2).png' %}" 
      alt="A skater boy fish"
    >
  </div>
  <div class="fish-details">
    <h1>{{ fish.name }}</h1>
    <h2>A {{ fish.age }} year old {{ fish.type }}</h2>
    <p>{{ fish.description }}</p>
    <div class="fish-actions">
      <a href="{% url 'fish_update' fish.id %}" class="btn warn">Edit</a>
      <a href="{% url 'fish_delete' fish.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Feedings</h2>
      <img 
        src="{% static 'images/fish (4).png' %}" 
        alt="An ice cream cone fish"
      />
      <img 
        src="{% static 'images/puffer-fish.png' %}"
        alt="A fish as food"
      />
    </div>
    <h3>Add a Feeding</h3>
    <form
      action="{% url 'add_feeding' fish.id %}"
      method="post" 
      class="subsection-content"
    >
      {% if fish.fed_for_today %}
        <p class='fed'>{{fish.name}} has been fed all their meals for today!</p>
      {% else %}
        <p class='unfed'>{{fish.name}} is starving!</p>
      {% endif %}
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <button type="submit" class="btn submit">Add Feeding</button>
    </form>
    <h3>Past Feedings</h3>
    {% if fish.feeding_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in fish.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{fish.name}} is starving. </p>
      </div>
    {% endif %}
  </section>
  <section class="enrichments">
    <div class="subsection-title">
      <h2>Tank Enrichments</h2>
    </div>
    <h3>{{ fish.name }}'s Tank Enrichments</h3>
    <div class="subsection-content">
      {% if fish.enrichments.count %}
        {% for enrichment in fish.enrichments.all %}
          <div class="enrichment-container">
            <div 
              class="color-block"
              style="background-color: {{ enrichment.color }}"
            ></div>
            <a href="{% url 'enrichments_detail' enrichment.id %}">
              <p>A {{ enrichment.color }} {{ enrichment.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-enrichments">{{fish.name}} doesn't have any tank enrichments</p>
      {% endif %}
    </div>
    <h3>Available Tank Enrichments</h3>
    <div class="subsection-content">
      {% if enrichments.count %}
        {% for enrichment in enrichments.all %}
          <div class="enrichment-container">
            <div 
              class="color-block"
              style="background-color: {{ enrichment.color }}"
            ></div>
            <a href="{% url 'enrichments_detail' enrichment.id %}">
              <p>A {{ enrichment.color }} {{ enrichment.name }}</p>
            </a>
            <form action="{% url 'assoc_enrichment' enrichment.id enrichment.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give Tank Enrichment</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-enrichments">
          {{fish.name}} already has all the available enrichments 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}